<app-header-bar></app-header-bar>
<app-navbar></app-navbar>
<div class="component-container">
    <div class="image">
        <img src="assets/pic.png" alt="">
        <div class="forms">
            <div class="input">
                <h2 style="background-color: #0a6ab3; padding: 5px; color: white;">Input</h2>
                <div class="input-form">
                    <label for="ausführung" style="flex: 1;">Ausführung</label>
                    <input type="text" name="ausführung" style="flex: 2;">
                </div>
                <div class="input-form">
                    <label for="hub" style="flex: 1;">Hub</label>
                    <input type="text" name="hub" style="flex: 2;">
                </div>
                <div class="input-form">
                    <label for="spindel" style="flex: 1;">Spindellänge</label>
                    <input type="text" name="spindel" style="flex: 2;">
                </div>
                <div class="input-form">
                    <label for="hubg" style="flex: 1;">Hubgeschwindigkeit</label>
                    <input type="text" name="hubg" style="flex: 2;">
                </div>
            </div>
            <!--<div class="output">
                <h2 style="background-color: #0a6ab3; padding: 5px; color: white;">Output</h2>
                <div class="output-form">
                    <label for="ausführung">Ausführung</label>
                    <input type="text" name="ausführung">
                </div>
                <div class="output-form">
                    <label for="ausführung">Ausführung</label>
                    <input type="text" name="ausführung">
                </div>
                <div class="output-form">
                    <label for="ausführung">Ausführung</label>
                    <input type="text" name="ausführung">
                </div>
                <div class="output-form">
                    <label for="ausführung">Ausführung</label>
                    <input type="text" name="ausführung">
                </div>
            </div>-->
        </div>
    </div>
    <app-factory-editor></app-factory-editor>
</div>