<div class="header-container">
    <div class="header-container-item">
        <img src="https://res.cloudinary.com/chocobrain/image/upload/c_scale,dpr_auto,f_auto,fl_sanitize,q_auto,w_500/v1714461599/qZVNAM4B/GROB%20Logo%20offiziell" alt="">
    </div>
    <div class="header-container-item">
        <div style="display: flex; align-items: center;">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            <div>Schreiben Sie uns:</div>
        </div>
        <div><a href="mailto:info@grob-antriebstechnik.de">info&#64;grob-antriebstechnik.de</a></div>
    </div>
    <div class="header-container-item">
        <div style="display: flex; align-items: center;">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
            <div>Oder rufen Sie uns an:</div>
        </div>
        <div><a href="javascript:void(0);">+49726192630</a></div>
    </div>
    <div class="header-container-item">
        <div style="display: flex; align-items: center;">
            <div>Deutsch - Englisch</div>
        </div>
        <button>Kontaktieren</button>
    </div>
</div>